#canvasbackground {
	margin-bottom: -88px;
	left: -17px;
}

select {
	padding: 4px 3px;
	font-size: 12px;
	color: #000;
	height: 29px;
}

.centeredImage,
.arrow_allign {
	display: none !important;
}
#accordion .ui-accordion-content p{
	padding-bottom:0;
}
#accordion .ui-accordion-content #save_user_design{
	margin-bottom:4px;
	line-height:21px;
}
#accordion .ui-accordion-content #save_design{
	line-height:21px;
}
#accordion .ui-accordion-content #name,
#accordion .ui-accordion-content #id,
#accordion .ui-accordion-content #title,
#accordion .ui-accordion-content #sort_order{
	width:98%;
	padding: 4px 1%;
	margin-bottom:5px;
}
#accordion .ui-accordion-content #description_text_field{
	width:98%;
	padding: 0 1%;
	margin-bottom:4px;
	height:85px;
}

#accordion .ui-accordion-content #save_design_form br{display:none;}
#accordion .ui-accordion-content #id {
	margin-top:4px;
}
#accordion .ui-accordion-content #category,
#accordion .ui-accordion-content #designer_code{
	width:100%;
	height:26px;
}
#accordion .ui-accordion-content textarea#txt_edit_add {
	width: 285px !important;
	height: 75px !important;
	padding-bottom: 0;
	border: 1px solid #d3d3d3;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
}

#add_text{
	margin-top:-5px;
}
.edittable td {
	height: 22px;
	padding: 2px 0;
}

#pt-upload input[type="file"] {
	margin-bottom: 5px;
}

#pt-upload input[type="submit"],
#imageaddformclose,
#save_user_design,
#save_design,
#add_photo,
#choose_font,
#add_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #75b0a2;
	background-color: #fff;
	border: 1px solid #75b0a2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 29px;
	padding: 0 15px;
	line-height: 23px;
	cursor: pointer;
}

#save_design {
	margin-bottom: 5px;
}

#save_user_design,
#save_design {
	height: 25px;
	line-height: 25px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#pt-upload input[type="submit"]:hover,
#imageaddformclose:hover,
#save_user_design:hover,
#save_design:hover,
#add_photo:hover,
#choose_font:hover,
#add_text:hover {
	background-color: #f8fbfd;
}

#infodiv table,
#infodiv table td {
	border: none;
	padding: 0;
}

.sp-replacer {
	border: 1px solid #c0c0c0;
	background-color: #f4f4f4;
	height: 27px;
	padding: 0;
	font-size: 12px;
	color: #000;
	font-family: Verdana;
	float: left;
}

.sp-preview {
	width: 112px;
	margin-left: 5px;
	margin-top: 8px;
}

.sp-dd {
	height: 28px;
	background: url(/img/gfx/sp-dd.png) no-repeat center center;
	text-indent: -9999em;
	width: 10px;
}

#textsizelabel {
	border: 1px solid #d3d3d3;
	height: 28px;
	width: 35px;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
	padding-left: 5px;
}

table td, #editor table th {
	width: auto;
}

#position_photo_tofront{
height:35px;
width:35px;
background:url('/img/editor/voorgrond.png') no-repeat;
}

#position_photo_toback{
height:35px;
width:35px;
background:url('/img/editor/achtergrond.png') no-repeat;
}

#position_photo_toback img,
#position_photo_tofront img {
	visibility: hidden;
}


#position_photo_full{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #75b0a2;
	border:1px solid #75b0a2;
	cursor:pointer;
	background:#fff;
	vertical-align: top;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 27px;
	line-height: 27px;
	padding-bottom: 3px;
	margin-top: 5px;
	padding: 0 5px;
}

#position_photo_full span {
	display: inline;
	padding: 0;
	line-height: none;
}

.ui-slider-handle {
	background: #e7f6ff;
	border: 1px solid #0395cc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

#chooseside input {
	display: none;
}

#chooseside label {
	border: none;
}

#chooseside {
	margin-bottom: 0;
	width: 410px;
}

.double_square {
	top: 110px;
}

.double_portrait {
	top: 112px;
}

.double_landscape {
	top: 115px;
}

.single_landscape {
	top: 110px;
}

.single_portrait {
	top:110px;
}

.single_square {
	top: 110px;
}

.triple .side-block,
.panorama .side-block {
	top: 35px;
}

#photolist, #imagelist .content, #patternlist .content, #clipartlist .content {
	min-height: 80px;
}

span p a[href="/login?redirecturl=/edit"] {
	display: inline !important;
}

a[href="/login?redirecturl=/edit"] {
	text-align: center;
	display: block;
	margin-top: 35px;
}

.edit_big_button {
	font-family: Arial, Helvetica, sans-serif;
    background: url(/img/bg-button.png) no-repeat right 0;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: auto;
	padding: 0 25px 0 9px;
	margin: 0;
	float: none;
	display: inline-block;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
}

.edit_big_button:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -42px;
}

a[href="/login?redirecturl=/edit"] .edit_big_button:hover {
	background-position: right -84px;
}

a[href="/login?redirecturl=/edit"] .edit_big_button:hover:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -126px;
}

.ui-accordion-content ul {
	padding-left: 15px;
}

#imagelist {
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 10px;
	padding-bottom: 10px;
	height: auto;
}

#accordion .ui-accordion-content {
	padding-left: 15px;
	padding-right: 15px;
}

#clipartlist .content img,
#imagelist .content img {
	width: auto;
	border: 1px solid #d3d3d3;
}

#imagelist .head, #patternlist .head, #clipartlist .head {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

#imagelist .head {
	padding-top: 0;
}

#imagelist .pages, #patternlist .pages, #clipartlist .pages {
	width: 193px;
	color: #6d6f72;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

#imagelist .head a, #patternlist .head a, #clipartlist .head a {
	color: #75b0a2;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

#txt_align_left_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

#txt_align_left_label:hover {
	background-position: 0 -31px;
}

#txt_align_left_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -61px;
}

#txt_align_center_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -467px;
}

#txt_align_center_label:hover {
	background-position: 0 -499px;
}

#txt_align_center_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -531px;
}

#txt_align_right_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -181px;
}

#txt_align_right_label:hover {
    background-position: 0 -213px;
}

#txt_align_right_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -244px;
}

#txt_align_top_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -276px;
}

#txt_align_top_label:hover {
   background-position: 0 -307px;
}

#txt_align_top_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -339px;
}

#txt_align_middle_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -91px;
}

#txt_align_middle_label:hover {
    background-position: 0 -120px;
}

#txt_align_middle_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -151px;
}

#txt_align_bottom_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -372px;
}

#txt_align_bottom_label:hover {
    background-position: 0 -404px;
}

#txt_align_bottom_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -435px;
}

#txt_align_justify_label {
    background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
	background-position: 0 -563px;
	height:22px;
	width:39px;
}

#txt_align_justify_label:hover {
    background-position: 0 -594px;
}

#txt_align_justify_label.ui-state-active {
	background-image: url("/img/sprites-editor.png");
	background-repeat: no-repeat;
    background-position: 0 -624px;
}

.edittable {
	color: #6d6f72;
}

#position_photo_tofront .ui-button-text,
#position_txt_tofront .ui-button-text {
	background: url(/img/gfx/to_front.png) no-repeat center center;
}

#position_photo_toback .ui-button-text,
#position_txt_toback .ui-button-text {
	background: url(/img/gfx/to_back.png) no-repeat center center;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
	padding: 0.4em 0.4em;
}

#photo_arrange #position_photo_tofront,
#photo_arrange #position_photo_toback,
#txt_arrange #position_txt_tofront,
#txt_arrange #position_txt_toback {
	background: none!important;
}

#position_photo_tofront .ui-button-text img,
#position_photo_toback .ui-button-text img,
#position_txt_toback .ui-button-text img,
#position_txt_tofront .ui-button-text img {
	visibility: hidden;
}

#imgtransparency,
#textsize {
	background: url(/img/gfx/bg_slider.png) no-repeat 0 0;
	width: 157px;
	float: right;
	margin-left: 0;
	height:7px;
	border:none
}

#imgtransparency a,
#texttransparency a,
#textsize a {
	background: url(/img/gfx/bg_square.png) no-repeat 0 0;
	height: 16px;
	width: 13px;
	border: none;
	display: block;
	margin-left: 0;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -5px !important;
}

#texttransparencylabel {
	width: 100px;
	padding-top: 7px;
}

#texttransparency {
	background: url(/img/gfx/bg_slider.png) no-repeat 0 0;
	width: 157px;
}

#text_turn_left {
	margin-right: 6px;
}

#text_turn_left,
#text_turn_left {
	cursor: pointer;
}

#position_photo_tofront,
position_photo_toback,
#position_txt_tofront,
position_txt_toback {
	border: none !important;
}

#position_photo_toback,
#position_photo_tofront,
#position_txt_tofront {
	margin-right: 10px;
}

#photo_turn_left {
	margin-right: 10px;
}

#txt_align {
	height: 28px;
}

.ui-buttonset .ui-button {
	margin-right: 4px;
}

#background_type {
	overflow: hidden;
}

#textsize {
	margin-top: 13px;
}

#background_type_pattern_label,
#background_type_color_label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #75b0a2;
	background-color: #fff;
	border: 1px solid #75b0a2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 27px;
	padding: 0 10px;
	line-height: 27px;
	cursor: pointer;
	display: block;
	float: left;
	width: 55px;
}

#background_type_pattern_label span,
#background_type_color_label span {
	padding: 0;
	display: inline;
}

#background_type_pattern_label.ui-state-active,
#background_type_color_label.ui-state-active,
#background_type_pattern_label.ui-state-hover,
#background_type_color_label.ui-state-hover {
	color: #fff;
	background-color: #75b0a2;
}

.edit_div br {
	display: none;
}

#background_type_color_label {
	margin-right: 10px;
}

.description {
	margin-top: 8px;
	width: 90px;
}

table.edit_cross {
	margin: 0;
}

#patternselect {
	float: left;
}

#patternselect_div .title {
	margin-top: 6px;
	float: left;
	width: 90px;
}

#clipartselect,
#imageselect,
#patternselect {
	border: 1px solid #c0c0c0;
	background-color: #f4f4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 200px;
}

#cl-bib .title {
	float: left;
	padding-top: 6px;
}

#clipartlist {
	clear: both;
}

#clipartselect {
	float: right;
}

#imageselect {
	width: 160px !important;
	background: #fff;
	color: #75B0A2;
}

#clipartselect {
	background: #fff;
	color: #75B0A2;
}

#choose_font {
	margin-right: 20px;
}

input#sort_order,
input#description,
input#title,
input#id {
	margin-bottom: 5px;
	padding: 6px 10px;
	width: 275px;
}

select#designer_code,
select#category {
	width: 297px;
}

.texttransparencylabel, #imgtransparencylabel, .textsizelabel {
	border: 1px solid #d3d3d3;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
	padding: 4px 0 4px 5px;
}

.sp-preview {
	margin: 1px;
	height: 23px;
	width: 114px;
	border: none;
}

.sp-dd {
	height: 27px;
	width: 21px;
	padding: 0;
	border-left: 1px solid #d3d3d3;
}

.sp-preview-inner {
	height: 25px;
	line-height: 23px;
	padding-left: 5px;
}

#bt-color,
#bt-pattern,
#patternselect_div {
	margin-top: 13px;
}

#chooseside label.selected .side_selected {
	background: url("/img/icon_current_active.png") no-repeat scroll 0 0;
	height: 17px;
	width: 17px;
}

#imageaddform {
	background: #fff;
	height: auto;
}

/*
-----------------------------------------------------------------
Clearfix
-----------------------------------------------------------------
*/

#patternselect_div,
#bt-pattern,
#bt-color {
	zoom: 1;
}

#patternselect_div:after,
#bt-pattern:after,
#bt-color:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.ui-slider .ui-state-default,.ui-slider  .ui-widget-content .ui-state-default,.ui-slider  .ui-widget-header .ui-state-default{background-color:#75b0a2 !important;}

/*
	New

#switch_card {
    display: block;
    left: 265px;
    top: -5px;
    z-index: 20000000 !important;
}
#switch_card_single, #switch_card_double {
    border-bottom: none;
    background: transparent url(/img/switch_card.png) no-repeat left 11px;
    height: 44px;
    width: auto;
    padding: 0 15px 0 40px;
    margin: 0;
    line-height: 44px;
    color: #6d6f72;
}
#switch_card_single {
    background-position: left -30px;
}
#infodiv {
    background-color: transparent;
}
.grid_checkbox_off {
    position: absolute;
    left: 425px;
}
#grid_checkbox_label {
    position: absolute;
    left: 452px;
}
#infodiv .edit_preview, #infodiv #preview_label, #infodiv #lock, #infodiv label {
    display: none!important;
}
*/
.grid_checkbox_off {
    position: absolute;
    left: 425px;
}
#grid_checkbox_label {
    position: absolute;
    left: 452px;
}
#infodiv table {
    width: 220px;
    margin-top: -2px;
}
#switch_card {
    display: block;
    left: 300px;
    top: 2px;
    z-index: 20000000 !important;
    width: 170px;
}
.edit_preview {
    width: 20px;
    height: 20px;
    background: transparent url(/common/gfx/edit_preview.png);
    background-size: contain;
    cursor: pointer;
    float: left;
    position: absolute;
    top: 22px;
}
#preview_label {
    height: 24px;
    line-height: 24px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 21px;
}
#infodiv #lock {
    position: absolute;
    left: 90px;
    top: 23px;
}
#infodiv label {
    display: inline;
    position: absolute;
    left: 110px;
    top: 21px;
}
#switch_card_single, #switch_card_double {
    border-bottom: none;
    background: transparent url(/img/switch_card_double.png) no-repeat;
    background-size: contain;
    height: 21px;
    width: auto;
    padding: 0 15px 0 25px;
    margin: 0;
    line-height: 28px;
    color: #6d6f72;
    float: left;
}
#switch_card_single {
    background: transparent url(/img/switch_card_single.png) no-repeat;
    background-size: contain;
}

.footer-edit {
    background-color: #fff;
}


.footer-edit p{
   padding: 20px;
    margin: 0;
    color: #75b0a2;
}

#body_edit #clipartlist img, #body_edit #patternlist img, #body_edit #photolist img {
	margin: 5px 1%!important;
	max-width: 30%;
	width: auto!important;
}
