@font-face {
    font-family: 'RoughTypewriterRegular';
    src: url('/css/fonts/rough_typewriter.eot');
    src: url('/css/fonts/rough_typewriter.eot') format('embedded-opentype'),
         url('/css/fonts/rough_typewriter.woff') format('woff'),
         url('/css/fonts/rough_typewriter.ttf') format('truetype'),
         url('/css/fonts/rough_typewriter.svg#RoughTypewriterRegular') format('svg');
}

@font-face {
    font-family: 'RoughTypewriterBoldItalic';
    src: url('/css/fonts/rough_typewriter_bold_itl.eot');
    src: url('/css/fonts/rough_typewriter_bold_itl.eot') format('embedded-opentype'),
         url('/css/fonts/rough_typewriter_bold_itl.woff') format('woff'),
         url('/css/fonts/rough_typewriter_bold_itl.ttf') format('truetype'),
         url('/css/fonts/rough_typewriter_bold_itl.svg#RoughTypewriterBoldItalic') format('svg');
}

@font-face {
    font-family: 'Rough_TypewriterItalic';
    src: url('/css/fonts/rough_typewriter_italic.eot');
    src: url('/css/fonts/rough_typewriter_italic.eot') format('embedded-opentype'),
         url('/css/fonts/rough_typewriter_italic.woff') format('woff'),
         url('/css/fonts/rough_typewriter_italic.ttf') format('truetype'),
         url('/css/fonts/rough_typewriter_italic.svg#Rough_TypewriterItalic') format('svg');
}

@font-face {
    font-family: 'RoughTypewriterBold';
    src: url('/css/fonts/rough_typewriter_x_bold.eot');
    src: url('/css/fonts/rough_typewriter_x_bold.eot') format('embedded-opentype'),
         url('/css/fonts/rough_typewriter_x_bold.woff') format('woff'),
         url('/css/fonts/rough_typewriter_x_bold.ttf') format('truetype'),
         url('/css/fonts/rough_typewriter_x_bold.svg#RoughTypewriterBold') format('svg');
}

@font-face {
    font-family: 'BrainFlowerRegular';
    src: url('/css/fonts/brain_flower_euro.eot');
    src: url('/css/fonts/brain_flower_euro.eot') format('embedded-opentype'),
         url('/css/fonts/brain_flower_euro.woff') format('woff'),
         url('/css/fonts/brain_flower_euro.ttf') format('truetype'),
         url('/css/fonts/brain_flower_euro.svg#BrainFlowerRegular') format('svg');
}

@font-face {
    font-family: 'ImpactLabelRegular';
    src: url('/css/fonts/impact_label.eot');
    src: url('/css/fonts/impact_label.eot') format('embedded-opentype'),
         url('/css/fonts/impact_label.woff') format('woff'),
         url('/css/fonts/impact_label.ttf') format('truetype'),
         url('/css/fonts/impact_label.svg#ImpactLabelRegular') format('svg');
}

@font-face {
    font-family: 'ImpactLabelReversedRegular';
    src: url('/css/fonts/impact_label_reversed.eot');
    src: url('/css/fonts/impact_label_reversed.eot') format('embedded-opentype'),
         url('/css/fonts/impact_label_reversed.woff') format('woff'),
         url('/css/fonts/impact_label_reversed.ttf') format('truetype'),
         url('/css/fonts/impact_label_reversed.svg#ImpactLabelReversedRegular') format('svg');
}

body {
	background: url(/img/background.jpg) repeat-y center top;
	font-family: Arial;
	font-size: 13px;
	color: #6d6f72;
	line-height: 23px;
}

a {
	color: #75b0a2;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#menu ul li a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.hsocial a {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#mid {
	background: none;
	-webkit-border-radius: 0 0 9px 9px;
	-moz-border-radius: 0 0 9px 9px;
	border-radius: 0 0 11px 11px;
	padding-top: 63px;
}

#body_home #mid {
	padding-top: 12px;
}

#wrapper {
	background: url(/img/bg-wrapper.gif) repeat-y left top;
	margin: 0 auto;
	width: 960px;
}

#pagecontent {
	position: relative;
	padding-right: 88px;
	margin: 0;
	float: right;
	width: 618px;
}

#body_home #pagecontent {
	float: none;
	width: auto;
	padding: 0;
}

#container {
	clear: both;
	padding: 25px 30px 0 30px;
}

#header {
	background: none;
	padding:0 0 0 15px;
	height: auto;
	position: relative;
}

.h-heart {
	margin: 0 !important;
	position: absolute;
	left: 30px;
	top: 76px;
}
#header #search {
	position: absolute;
	right: 34px;
	top: 24px;
	height: 26px;
	width: 168px;
}

#header #search div {
	height: 26px;
	position: relative;
	width: 168px;
}

#header #search form {
	height: 26px;
	width: 168px;
}

#header #search input[type="text"] {
	color: #979797;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 1px 1px #dfd8c0;
	-webkit-box-shadow: inset 1px 1px #dfd8c0;
	box-shadow: inset 1px 1px #dfd8c0;
	padding: 4px 23px 4px 5px;
	width: 140px;
	height: 18px;
	margin: 0!important;
	outline: none;
}

#header #search input[type="submit"] {
	cursor: pointer;
	position: absolute;
	right: 2px;
	top: 2px;
	text-indent: -9999em;
	display: block;
	background: url(/img/btn-search.png) no-repeat 0 0;
	border: none;
	width: 21px;
	height: 21px;
	padding: 0;
	outline: none;
}
#header #search input[type="submit"]:focus, #header #search input[type="text"]:focus {
  	border: 2px solid #a3cac1;
}
.hsocial {
	position: absolute;
	right: 216px;
	top: 25px;
}

.hsocial a {
	float:left;
	font-family: 'BrainFlowerRegular';
	font-size: 20px;
	text-transform: uppercase;
	color: #6d6f72;
}

.hsocial a {
	background-image: url(/img/social.png);
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
	margin: 0 3px;
	text-indent: -9999em;
}

.hsocial a.facebook {
	background-position: 0 0;
}

.hsocial a.facebook:hover {
	background-position: 0 -28px;
}

.hsocial a.printerest {
	background-position: -52px 0;
}

.hsocial a.printerest:hover {
	background-position: -52px -28px;
}

.hsocial a.twitter {
	background-position: -97px 0;
}

.hsocial a.twitter:hover {
	background-position: -97px -28px;
}

#home {
	height: 45px;
	width: 547px;
	left: 88px;
	top: 20px;
	background: url(/img/logo.png) no-repeat 0 0;
}

#wrapper #home {
	display:none !important;
}
#header #home {
	display:block !important;
}

#basket_text {
	display: inline;
	padding: 0;
}

.tophead {
	background: url(/img/bg-top-head.gif) no-repeat 0 0;
	margin: 0 auto;
	width: 960px;
}

.tophead p {
	margin: 0;
}

.topheadinner {
	height: 34px;
	position: relative;
}

.save-date {
	float: left;
	width: 525px;
	font-family: Verdana;
	font-size: 11px;
	color: #fff;
	padding-top: 3px;
	padding-left: 30px;
}

.tophead.bor {
	border-bottom: 1px solid #e8e8e8;
	padding-left: 0;
}

.headermenu {
	float: right;
	width: 375px;
	padding-right: 30px;
}

.headermenu a {
	background: none !important;
	float: right;
	color: #fff;
	font-size: 11px;
	width: auto !important;
	padding: 0 15px;
	height: 34px;
	line-height: 34px;
}

#basket_count {
	margin: 0;
	padding: 0;
	color: #fff;
	width: auto !important;
	display: inline !important;
	text-align: left !important;
}

#headerlogout span {
	width: auto !important;
	display: inline !important;
}

#headerbasket {
	background: #484b4f url(/img/ico-basket.png) no-repeat right 9px !important;
	padding-right: 40px !important;
}


/*
-----------------------------------------------------------------
Menu
-----------------------------------------------------------------
*/

#menu {
	background: url(/img/bg-menu.png) no-repeat left 0;
	padding: 13px 73px 14px 50px;
	position: relative;
	float: right;
	min-width: 549px;
}

.geam {
	position: absolute;
	right: -6px;
	top: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none !important;
}

#menu ul li {
	float: right;
	position: relative;
}

#menu ul li a {
	font-size: 16px;
	font-family: 'RoughTypewriterRegular';
	color: #fff;
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}

#menu ul li a:hover {
	background: #6d6d6d;
	color: #fff;
	text-decoration: none;
}

#menu ul li.active a {
	background: #f3898d;
}

#menu ul li.sfHover a {
	background: #6d6d6d;
	color: #fff;
}

#menu ul li ul {
	background: url(/img/bg-submenu.png) no-repeat left bottom;
	position: absolute;
	left: 0;
	top: 30px;
	width: 138px;
	padding: 4px 18px 8px 12px;
	z-index: 100;
	display: none;
}

#menu ul li ul li {
	float: none;
	background: url(/img/bg-devider.png) repeat-x left bottom;
	padding-bottom: 6px;
}

#menu ul li ul li:last-child {
	background: none;
}

#menu ul li ul li a {
	background: none;
	padding: 0;
	height: auto;
	line-height: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
}

#menu ul li ul li a:hover {
	color: #ffafb2;
}


/*
-----------------------------------------------------------------
Sidebar
-----------------------------------------------------------------
*/
#categories {
	padding-left: 0;
	width: 226px;
}

#sidebar {
	float: left;
	width: 183px;
}

#mainmenu ul {
	padding: 0;
	margin: 0;
	list-style: none !important;
	border-bottom: 1px solid #e8e8e8;
}

#sidebar #mainmenu h3,
#categories h3 {
	margin: 0 0 9px 0!important;
}

#categories ul{
	list-style:none;
	padding:0;
	margin:0;
}

#categories ul ul{
	padding-left:25px;
	padding-bottom:15px;
}

#categories ul ul li.active a{
	color:#f27478;
	font-weight:bold;
	text-decoration:none;
}

#sidebar #mainmenu h3 a,
#categories h3 a {
	background: url(/img/bg-left-menu.png) no-repeat right 0;
	min-height: 28px;
	font-size: 16px;
	display: block;
	font-weight: normal;
	padding: 6px 10px 0 43px;
	font-family: 'RoughTypewriterRegular';
	color: #fff;
	margin: 0;
}
#categories ul li p{
	padding-left:43px;
	padding-right:10px;
	line-height:20px;
}
#categories ul li p{
	color:#75b0a2 !important;
}
#sidebar #mainmenu h3 a:hover,
#categories h3 a:hover {
	background-position: right -44px;
	text-decoration: none;
}

#sidebar #mainmenu h3.open a,
#categories h3.here a,
#mainmenu ul li h3.open a {
	background-position: right -44px;
}

.category,
#mainmenu ul li ul {
	display: none;
	padding-bottom: 11px;
	border: none;
	padding-left: 43px;
}

#mainmenu ul li ul li h4 {
	color: #f27478;
	font-size: 15px;
	margin: 0;
	font-weight: bold;
}

#mainmenu ul li ul li ul {
	padding: 0 0 4px;
}

.category li,
#mainmenu ul li ul li {
	padding-bottom: 3px;
}

.category li a,
#mainmenu ul li ul li a {
	font-family: Arial, Helvetica, sans-serif;
	color: #75b0a2;
	font-size: 13px;
	display: block;
}

#mainmenu ul li ul li a,
.category li a {
	color: #75b0a2 !important;
}

#mainmenu ul li ul li a:hover,
.category li a:hover {
	color: #5d9f8f !important;
	text-decoration: none;
}

.category li.active a,
#mainmenu ul li ul li.active a {
	color: #6d6f72 !important;
	text-decoration: none;
}

.rank {
	margin: 0;
	padding: 23px 0 0 0;
	list-style: none !important;
}

.rank li {
	font-size: 12px;
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	color: #702b2b;
	padding: 0 18px 16px 35px;
	line-height: 18px;
}

.rank li.one {
	background-position: 0 -143px;
}

.rank li.two {
	background-position: -252px -143px;
}

.rank li.three {
	background-position: -578px -143px;
}

/*
-----------------------------------------------------------------
Content
-----------------------------------------------------------------
*/
.trash_icon {
	margin-top: 130px !important;
}
#crumbs {
	position: absolute;
	left: -197px;
	top: -39px;
	font-size: 11px;
	color: #6d6f72;
}

#crumbs a {
	font-size: 11px;
	text-transform: capitalize;
}

#pagecontent h1 {
	font-family: 'RoughTypewriterRegular';
	color: #6d6f72;
	padding: 3px 0 0 0;
	margin: -6px 0 10px 0;
	font-size: 22px;
}

#pagecontent p {
	margin: 0;
	padding-bottom: 15px;
}

#pagecontent h6,
#pagecontent h5,
#pagecontent h4,
#pagecontent h3,
#pagecontent h2 {
	font-family: 'RoughTypewriterRegular';
	font-weight: normal;
	color: #6d6f72;
	margin: 0 0 5px 0;
}

#pagecontent h2 {
	font-size: 18px;
}

#pagecontent h6,
#pagecontent h5,
#pagecontent h4,
#pagecontent h3 {
	font-size: 16px;
}

.block-home {
	padding: 17px 0 20px 30px;
	background: #a3cac1;
	margin-bottom: -20px;
}

.block-home .col {
	color: #fff;
	float: left;
	width: 230px;
	margin-left: 56px;
	position: relative;
}

.block-home .col p {
	padding: 0 !important;
	margin: 0;
	line-height: 21px;
}

.block-home .col p.image {
	line-height: 1;
}

.block-home .col h3 {
	font-family: 'RoughTypewriterRegular' !important;
	color: #6f6f6f !important;
	font-size: 16px !important;
	font-weight: normal !important;
	margin-bottom: 9px !important;
}

.block-home .col .heart {
	position: absolute;
	right: -50px;
	top: 5px;
}

.sec-home {
	padding-bottom: 18px;
}

.sec-home .heading {
	position: relative;
	padding-bottom: 6px;
}

.sec-home .heading h2 {
	background: url(/img/bg-title-end.png) no-repeat right top;
	padding-right: 18px;
	float: left;
}

.sec-home .heading h2 span {
	font-family: 'RoughTypewriterRegular';
	font-weight: normal;
	background: #a3cac1;
	display: block;
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	color: #fff;
	padding: 0 10px 0 88px;
}

.sec-home .heading .igeam {
	position: absolute;
	left: -6px;
	top: 8px;
}

.sec-content {
	clear: both;
	padding: 0 88px;
	line-height: 21px;
}

.center-content {
	background: url(/img/center-content.png) no-repeat 0 0;
	height: 282px;
	width: 920px;
	margin: -17px auto -9px;
	position: relative;
	z-index: 20;
}

.btn-geboortekaartjes {
	position: absolute;
	left: 69px;
	top: 34px;
}

.btn-geboortekaartjes a {
	display: block;
	background-image: url(/img/btn-geboortekaartjes.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999em;
	height: 61px;
	width: 229px;
}

.btn-geboortekaartjes a:hover {
	background-position: 0 -61px;
}

.btn-trouwkaarten {
	position: absolute;
	left: 60px;
	top: 103px;
}

.btn-trouwkaarten a {
	display: block;
	background-image: url(/img/btn-trouwkaarten.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999em;
	height: 66px;
	width: 201px;
}

.btn-trouwkaarten a:hover {
	background-position: 0 -66px;
}

.btn-top10 {
	position: absolute;
	left: 346px;
	top: 26px;
}

.btn-top10 a {
	display: block;
	text-indent: -9999em;
	background-image: url(/img/btn-top10.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 219px;
	height: 201px;
}

.btn-top10 a:hover {
	background-position: 0 -201px;
}

.btn-reacties {
	position: absolute;
	left: 598px;
	top: -2px;
	padding-bottom: 0 !important;
}

.btn-reacties a {
	display: block;
	background-image: url(/img/btn-reacties.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 272px;
	height: 283px;
	padding: 91px 45px 0 101px;
	box-sizing: border-box;
}

.btn-reacties a span {
	display: inline-block;
	color:#6d6f72;
	font-size:13px;
	font-style:italic;
	line-height:18px;
}

.btn-reacties a:hover {
	background-position: 0 -283px;
	text-decoration:none;
}

.btn-reacties a:hover span{
	text-decoration:none;
}

.btn-reacties .revCon img {
	width: 100%;
}

#card_previews {
	background: url(/img/bg-cardpreviews.png) repeat-x 0 0;
	padding-top: 28px;
	margin: 0;
}
.page #card_previews div{width:152px;height: auto;}
#card_previews img {
	width: 100% !important;
	height: auto !important;
}

#design {
	background: url(/img/bg-design.png) no-repeat center bottom;
	height: 360px !important;
}

#design .description {
	bottom: 28px !important;
	width: 420px !important;
}

.btn-default{
	background-image: url(/img/bg-button.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	padding: 0 30px 0 15px;
	line-height: 32px;
	width: auto;
	height: 32px;
	position:relative;
	float:left;
	color:#fff;
}
.btn-default:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -42px;
}

.btn-default:hover {
	background-position: right -84px;
	text-decoration: none;
}

.btn-default:hover:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -126px;
}

#direct_basket,
#choose_preview {
	background-image: url(/img/bg-button.png);
	background-repeat: no-repeat;
	display: block;
	bottom: 26px !important;
	right: 0 !important;
	padding: 0 30px 0 15px;
	line-height: 30px;
}

#choose_preview {
	background-position: right top;
	width: auto;
	height: 32px;
}

#choose_preview:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -42px;
}

#choose_preview:hover {
	background-position: right -84px;
	text-decoration: none;
}

#choose_preview:hover:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -126px;
}

#direct_basket {
	background-position: right top;
	width: auto;
	height: 32px;
	bottom: 20px !important;
	right: -29px !important;
}

#direct_basket:hover {
	background-position: right -84px;
	text-decoration: none;
}

#direct_basket:before:hover {
	background: url(/img/bg-button.png) no-repeat left -126px;
}

#voor_preview {
	position: inherit !important;
}

#voor_preview img {
	height: 225px;
}

#knav {
	margin: 0 !important;
}

#card_previews_horizontal {
	background: url(/img/bg-knav.png) no-repeat 0 0;
	height: 213px !important;
	width: 612px;
	margin-left: 0px;
	mask: none !important;
}

#prev_page, #next_page {
	height: 183px !important;
	background-image: url(/img/arrows.png) !important;
	background-repeat: no-repeat;
	width: 50px !important;
}

#next_page {
	background-position: -520px 72px !important;
}

#next_page:hover {
	background-position: -402px -68px !important;
}

#next_page:active {
	background-position: -259px -198px !important;
}

#prev_page {
	background-position: 15px -377px !important;
}

#prev_page:hover {
	background-position: -225px -495px !important;
}

#prev_page:active {
	background-position: -479px -629px !important;
}

#card_previews_horizontal a {
	width: auto !important;
}

#card_previews_horizontal img {
	height: 155px !important;
	width: auto !important;
}

#content {
	float: right;
	width: 690px;
}

#bxsliders {
	width: 745px;
	height: 225px;
	position: relative;
	padding: 26px 43px 24px 48px;
	margin-left: 53px;
}

.bg-label01 {
	position: absolute;
	left: 12px;
	top: -20px;
	width: 106px;
	height: 133px;
	padding: 0 !important;
	z-index: 13;
}

.bg-label02 {
	position: absolute;
	right: 0;
	top: 54px;
	width: 46px;
	height: 158px;
	padding: 0 !important;
	z-index: 13;
}

.bg-top {
	position: absolute;
	left: 63px;
	top: 0;
	width: 723px;
	padding: 0 !important;
	line-height: 1;
	height: 27px;
	z-index: 10;
}

.bg-left {
	padding: 0 !important;
	line-height: 1;
	position: absolute;
	top: 1px;
	left: 34px;
	height: 274px;
	width: 29px;
	z-index: 10;
}

.bg-right {
	height: 274px;
	width: 31px;
	padding: 0 !important;
	line-height: 1;
	position: absolute;
	right: 19px;
	top: 0;
	z-index: 10;
}

.bg-bottom {
	padding: 0 !important;
	line-height: 1;
	position: absolute;
	left: 63px;
	bottom: 0;
	height: 31px;
	width: 723px;
	z-index: 10;
}

.bg-slider {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.bxslider {
	padding: 0;
	margin: 0;
	list-style: none !important;
}

.bxslider li img {
	width: 745px;
	height: 225px;
}

.bx-pager {
	height: 12px;
}

.bx-controls {
	position: absolute;
	left: 57px;
	bottom: 11px;
	z-index: 21;
	width: 300px;
}

.bx-pager-item {
	float: left;
	width: 11px;
	margin-right: 8px;
}

.bx-pager a {
	background: url(/img/bg-pager.png) no-repeat -17px 1px;
	display: block;
	height: 11px;
	width: 9px;
	text-indent: -9999em;
}

.bx-pager a.active {
	background-position: 0 1px;
}

#content p {
	font-size: 16px;
	margin: 0 0 28px 0;
	padding: 0 !important;
	color: #702b2b;
}

.card-list {
	margin: 0 -32px 0 0;
	padding: 0;
	list-style: none !important;
}

.card-list li {
	cursor: pointer;
	float: left;
	width: 148px;
	height: 200px;
	overflow: hidden;
	margin-right: 32px;
	position: relative;
}

.card-list li img {
	width: 100%;
}

.card-size li img {
	width: 100% !important;
}

.card-list li h2 {
	margin: 0 !important;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	font-weight: normal;
	text-align: center;
	height: 24px;
}

.card-list li h2 a {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	vertical-align: top;
	height: 24px;
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	background: #ff7f1d;
	display: inline-block;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	padding: 0 12px;
}

.card-list li h2 a:hover {
	text-decoration: none;
}

.card-list li.hover h2 a {
	background: #e6721a;
}

#tabs {
	margin: 0;
	padding: 0;
	list-style: none !important;
}

#tabs li {
	float: left;
	padding-right: 3px;
}

#tabs li a {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	border: 1px solid #e8e8e8;
	border-bottom: none;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	color: #a66a6a;
	font-size: 12px;
}

#tabs li a:hover {
	color: #702b2b;
	text-decoration: none;
}

#tabs li a.on {
	color: #702b2b;
	background: #f5f5f5;
	border-color: #f5f5f5;
}

.tab_content {
	background: #f5f5f5;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 10px 10px 10px;
	position: relative;
	padding: 6px 0 10px 0;
}

#tab-pro {
	padding-bottom: 23px;
}

#tab-pro .hide {
	display: none;
}

.body-tab {
	margin: 0 auto;
}

.tab_content ul {
	margin: 0;
	padding: 0;
	list-style: none !important;
}

.tab_content ul li {
	float: left;
	width: 150px;
	text-align: center;
	font-size: 0;
	height: 160px;
}

.tab_content ul li img {
	width: 100%;
	height: auto;
}

.nav .prev,
.nav .next {
	display: block;
	width: 35px;
	height: 34px;
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	text-indent: -9999em;
	cursor: pointer;
	position: absolute;
	top: 65px;
}

.nav .prev {
	background-position: right -241px;
	left: 10px;
}

.nav .prev:active,
.nav .prev:hover {
	background-position: right -281px;
}

.nav .next {
	background-position: right -329px;
	right: 10px;
}

.nav .next:active,
.nav .next:hover {
	background-position: right -371px;
}


/*
-----------------------------------------------------------------
Subpage
-----------------------------------------------------------------
*/


#pagecontent .block {
	clear: both;
}

#pagecontent .block img {
	padding-bottom: 6px;
}

#pagecontent .block .imageleft {
	float: left;
	width: 502px;
	padding-right: 32px;
}

#pagecontent .block .imageright {
	float: right;
	width: 512px;
}

#pagecontent .block img,
#pagecontent .block img {
	padding-top: 13px;
}

#pagecontent ul {
	list-style-image: url(/img/ico-circle.png);
}

#kaart-editor ul {
	padding-left: 15px;
	margin: 0;
	padding-bottom: 15px;
}

#kaart-editor ol {
	padding-left: 20px;
	margin: 0;
	padding-bottom: 15px;
}

table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #a3cac1 #a3cac1 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid solid none none;
    border-width: 1px 1px medium medium;
	margin: 10px 0 0 0;
}

table td, #editor table th {
    border-bottom: 1px solid #a3cac1;
    border-left: 1px solid #a3cac1;
    padding: 8px 10px 5px;
    text-align: left;
    width: 140px;
}

table th {
    background: none repeat scroll 0 0 #a3cac1;
    color: #FFFFFF;
	text-align: left;
	padding: 5px 13px 5px 13px;
	border-left: 1px solid #a3cac1;
	border-bottom: 1px solid #a3cac1;
}

input[type="password"],
input[type="text"] {
    border: 1px solid #bebdbd;
	border-left-color: #dadada;
	border-bottom-color: #dadada;
    padding: 5px 5px;
	-moz-box-shadow: inset -1px 1px #c2c1c1;
	-webkit-box-shadow: inset -1px 1px #c2c1c1;
	box-shadow: inset -1px 1px #c2c1c1;
	color: #6D6F72;
	font-family: Arial;
	font-size: 13px;
}

.contactfrm input[type="text"] {
    width: 360px;
}

textarea {
     border: 1px solid #bebdbd;
	border-left-color: #dadada;
	border-bottom-color: #dadada;
	-moz-box-shadow: inset -1px 1px #c2c1c1;
	-webkit-box-shadow: inset -1px 1px #c2c1c1;
	box-shadow: inset -1px 1px #c2c1c1;
    height: 92px;
    overflow: auto;
    padding: 5px;
    resize: none;
	color: #6D6F72;
	font-family: Arial;
	font-size: 13px;
}

.contactfrm textarea {
    width: 360px;
}

hr {
	margin: 0;
	height: 1px;
	color: #e1e1e1;
	background: #e1e1e1;
	border-top: 1px solid #e1e1e1;
	display: block;
}

.contactfrm {
    padding: 27px 0 0;
}

.contactfrm ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    padding: 0 0 7px;
}

.contactfrm ul li p {
	padding: 0 !important;
}

.contactfrm .error input[type="text"], .contactfrm .error textarea {
    border-color: #FF0000;
}

.contactfrm .error p {
	position: relative;
}

.contactfrm .error span {
    background: #eb3c00 url("/img/bg-icons.png") no-repeat scroll 0 10px;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding: 0 6px 0 15px;
	position: absolute;
	right: 0;
	top: 0;
}

.contactfrm ul li label {
    display: block;
    float: left;
    line-height: 28px;
    padding: 0 10px 0 0;
    width: 113px;
}

.contactfrm ul {
	list-style: none !important;
    padding: 0 !important;
	margin: 0 !important;
}

.contactfrm ul li label em {
    font-style: normal;
}

.contactfrm ul li p {
    float: left;
    margin: 0;
    padding: 0;
}

.contactfrm .submit {
    clear: both;
    margin: 0;
    padding: 0 122px 0 123px !important;
}

.contactfrm .submit .notice {
	float: left;
	display: block;
	margin-top: -8px;
}

#body_account_adres_import input[type="submit"],
#body_account_nieuwsbrief input[type="submit"],
#body_account_password input[type="submit"],
#body_account_address input[type="submit"],
.contactfrm input[type="submit"] {
	background-image: url(/img/bg-button.png);
	background-repeat: no-repeat;
	background-position: right 0;
	float: right;
	font-family: Arial;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 120px;
	padding-bottom: 5px;
}

.contactfrm input[type="submit"] {
	background-position: right -168px;
	width: 123px;
	padding: 0 12px 5px;
}

#body_account_adres_import input[type="submit"],
#body_account_nieuwsbrief input[type="submit"],
#body_account_password input[type="submit"],
#body_account_address input[type="submit"] {
	float: none;
}

#body_account_adres_import input[type="submit"] {
	padding: 0;
	width: 150px;
	text-align: center;
}

#body_account_nieuwsbrief input[type="submit"] {
	margin-top: 15px;
}

#body_account_adres_import input[type="submit"]:hover,
#body_account_nieuwsbrief input[type="submit"]:hover,
#body_account_password input[type="submit"]:hover,
#body_account_address input[type="submit"]:hover,
.contactfrm input[type="submit"]:hover {
	background-position: right -84px;
}

.contactfrm input[type="submit"]:hover {
	background-position: right -210px;
}

.button-item {
	padding: 0 0 27px 0 !important;
}

.button01 {
	background: #ff7f1d url(/img/ico-arrow-btn.png) no-repeat right center;
	padding: 0 46px 0 15px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-family: 'Bitter', serif;
	font-weight: 700;
	font-size: 17px;
	color: #fff;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
}

.button01:hover {
	 background: #e5731c url(/img/ico-arrow-btn-o.png) no-repeat right center;
	text-decoration: none;
}

.button01:active {
	 background: #e5731c url(/img/ico-arrow-btn-o.png) no-repeat right center;
	 -moz-box-shadow: inset 0 0 5px #c86518;
	-webkit-box-shadow: inset 0 0 5px #c86518;
	box-shadow: inset 0 0 5px #c86518;
}

table ul {
	margin-top: 0 !important;
	padding-left: 15px !important;
}

div#banners {
	padding-bottom: 15px;
	height: 107px !important;
}

div#banners2 img,
div#banners img {
	width: 690px;
}

#body_login table {
	border: none;
	margin: 0;
}

#body_login table td {
	border: none;
	padding-left: 0;
}

#body_login #login,
#body_login #registreer {
	border-bottom: 1px solid #e1e1e1 !important;
	margin-bottom: 20px !important;
}

#body_login #login,
#body_login #registreer,
#body_login #pw_recovery {
	border: none;
	height: auto;
	float: none;
	width: auto;
	padding-left: 0;
	margin: 0;
}

span#new,
#ok,
#cancel,
#body_account_settings .button,
#body_account .button {
	bottom: 0;
	float: none;
	background-image: url(/img/bg-button.png);
	background-repeat: no-repeat;
	background-position: right -252px;
	padding: 0 40px 0 5px;
	display: inline-block;
	height: 32px;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	position: relative;
}

span#new:before,
#ok:before,
#cancel:before,
#body_account_settings .button:before,
#body_account .button:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -294px;
}

#body_account_settings .button,
#body_account .button {
	display: block;
	margin-bottom: 10px;
	width: 220px;
}

#body_account_settings #pagecontent p br,
#body_account #pagecontent p br {
	display: none;
}

span#new:hover,
#ok:hover,
#cancel:hover,
#body_account_settings .button:hover,
#body_account .button:hover {
	background: url(/img/bg-button.png) no-repeat right -336px;
	text-decoration: none;
}

span#new:hover:before,
#ok:hover:before,
#cancel:hover:before,
#body_account_settings .button:hover:before,
#body_account .button:hover:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -378px;
}

#body_login .align_bottom {
	width: 180px;
	background: url(/img/bg-button.png) no-repeat 0 -588px;
	height: 32px;
	position: inherit;
	bottom: inherit;
	padding-left: 20px;
	float: none;
}

.errormsg {
	padding: 0 !important;
}

#body_login .align_bottom:hover {
	background-position: 0 -630px;
}

#body_login #pagecontent input[type="text"],
#body_login #pagecontent input[type="password"] {
	width: 300px;
}

#body_login #login_nieuwbrief {
	width: 430px;
	margin-top: -3px;
}

#body_login #login table td.buttons,
#body_login #registreer table td.buttons {
	display: none;
}

#step_back {
	background: url(/img/arrow_left.png) no-repeat 0 center;
	font-family: 'Bitter', serif;
	font-weight: 700;
	font-size: 14px;
	height: 23px;
	line-height: 23px;
	color: #702b2b;
	padding: 0 0 0 30px;
}

select {
	padding: 7px 3px;
}

#body_account_address  select {
	width: 507px;
}

#body_account_address input[type="text"],
#body_account_address input[type="password"] {
	width: 488px;
}

#body_account_address input[name="address.suffix"],
#body_account_address input.short {
	width: 140px;
}

#body_account_password table td {
	width: auto;
}

#body_account_password table td input[type="password"],
#body_account_password table td input[type="text"] {
	width: 276px;
}

#body_account_password table {
	width: 553px !important;
}

#body_account_nieuwsbrief #pagecontent label,
#body_account_nieuwsbrief #pagecontent input {
	vertical-align: top;
}

#order th {
	color: #fff;
}

#body_account_adresboek #leftdiv {
	padding-top: 16px;
}

#body_account_adresboek #rightdiv {
	background: none !important;
	float: right;
	width: 373px;
	margin: 0;
	padding: 0;
	height: auto;
}

#body_account_adresboek #rightdiv #step_back {
	margin-bottom: 15px;
}

#body_account_adresboek .address input[type="text"] {
	width: 226px;
}

#body_account_adresboek .address select {
	width: 247px;
}

#body_account_adresboek .address input#suffix,
#body_account_adresboek .address input.short {
	width: 35px;
}

#body_account_adresboek ul.banners {
	padding: 30px 30px 0;
}

#ok {
	margin-bottom: 10px;
}

#design .designer {
	bottom: 120px !important;
}

.cadeau-list {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

.cadeau-list li {
	float: left;
	padding: 0 12px 20px;
	width: 114px;
}

.cadeau-list li h2 {
	text-align: center;
	padding-top: 4px;
}

.cadeau-list li h2 a {
	color: #702b2b;
	font-size: 16px;
	font-family: 'Bitter', serif;
	font-weight: 700;
}

.sec-button {
	clear: both;
	border-top: 1px solid #e8e8e8;
}

.sec-button .text {
	float: left;
	width: 425px;
	padding-top: 16px;
}

.sec-button .btn {
	float: right;
	padding-top: 22px;
}

.block-head {
	position: relative;
	margin-bottom: 40px;
}

.block-head .text {
	position: absolute;
	left: 0;
	top: 0;
	padding: 12px 0 0 20px;
	width: 385px;
	line-height: 18px;
}

.block-head .text p {
	margin: 0;
	color: #fff;
	font-size: 13px;
	padding-bottom: 10px;
}

.block-head .text p a {
	color: #fff;
	text-decoration: underline;
}

.block-head .text p a:hover {
	text-decoration: none;
}

.stappen-wijn {
	text-align: center;
	font-size: 0;
	padding-bottom: 30px;
	margin-bottom: 17px !important;
	border-bottom: 1px solid #e8e8e8;
	line-height: 1;
}

.rose-list {
	list-style: none !important;
	padding: 0 0 7px 0;
	margin: 0;
}

.rose-list li {
	float: left;
	text-align: center;
	width: 150px;
	padding: 0 10px;
}

.w260 li {
	width: 210px;
	padding: 0 10px;
}

.rose-list li p {
	padding: 0 !important;
}

.rose-list li .thumb {
	padding: 0;
	text-align: center;
}

.rose-list li .thumb img {
	width: 100%;
}

.rose-list li .price {
	padding: 4px 0 0 0;
	color: #702b2b;
	font-size: 14px;
}

.rose-list li h2 {
	font-family: Verdana, Geneva, sans-serif !important;
	color: #3c86ae !important;
	font-size: 14px !important;
	font-weight: normal !important;
	min-height: 55px;
}

#body_cadeau_category #categories {
	padding: 0;
	width: 180px !important;
	margin-right: 20px;
}

#card_previews_horizontal #inner {
	margin-left: -43px !important;
	top: 35px;
}

#knav #prev_page {
	background: url(/img/bg-prev-preview.png) no-repeat 0 0 !important;
	height: 169px;
	width: 41px;
	top: 23px;
	left:-3px;
}

#knav #next_page {
	background: url(/img/bg-next-preview.png) no-repeat 0 0 !important;
	height: 169px;
	width: 41px;
	top: 23px;
	right:-3px;
}

#knav #prev_page:hover {
	background: url(/img/bg-prev-preview-o.png) no-repeat 0 0 !important;
}

#knav #next_page:hover {
	background: url(/img/bg-next-preview-o.png) no-repeat 0 0 !important;
}



/*
-----------------------------------------------------------------
Footer
-----------------------------------------------------------------
*/
#footer {
	padding: 50px 0 0 0;
	position: relative;
}

#footer p {
	margin: 0 !important;
}

.copyright {
	clear: both;
	margin: 0;
	text-align: center;
	font-size: 11px;
	color: #9ea2a8;
	padding: 13px 0 12px 0;
}

.f-heart {
	position: absolute;
	left: 11px;
	top: 10px;
}

.tape {
	position: absolute;
	left: 50%;
	top: -26px;
	margin-left: -88px;
}

.fnav-block {
	position: relative;
	background: url(/img/bg-fnav-bottom.png) no-repeat left bottom;
	padding-bottom: 48px;
	margin: 0 auto;
	width: 788px;
	-moz-box-shadow: -3px 3px 3px #ccc;
	-webkit-box-shadow: -3px 3px 3px #ccc;
	box-shadow: -3px 3px 3px #ccc;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.fnav-inner {
	background: url(/img/bg-fnav-top.png) no-repeat 0 0;
	padding: 20px 35px 0;
	margin-bottom: -18px;
}

.fnav-block ul {
	list-style: none !important;
	padding: 0;
	margin: 0 0 -10px;
}

.fnav-block ul li {
	padding-top: 4px;
}

.fnav-block ul li a {
	font-size: 28px;
	font-family: 'BrainFlowerRegular';
	text-transform: uppercase;
	color: #fff;
}

.fnav-block ul li a:hover {
	text-decoration: underline;
}

.fnav-block .fleft {
	width: 45%;
	float: left;
}

.fnav-block .fright {
	width: 45%;
	float: right;
	text-align: right;
}



/*
-----------------------------------------------------------------
Clearfix
-----------------------------------------------------------------
*/
.contactfrm .submit,
#pagecontent .block,
.contactfrm ul li,
.pro-block,
.wine-navigation,
.sec-button,
.tab_content ul,
#tabs,
#container,
#menu ul,
.clearfix,
#header {
	zoom: 1;
}

.contactfrm .submit:after,
#pagecontent .block:after,
.contactfrm ul li:after,
#header:after,
.pro-block:after,
.wine-navigation:after,
.sec-button:after,
.tab_content ul:after,
#tabs:after,
#container:after,
#menu ul:after,
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#body_design .extra{
	position:absolute;
	right:8px;
	bottom:1px;
}
#body_design .extra a{
	color:#f27478;
}

/*
-----------------------------------------------------------------
Facets
-----------------------------------------------------------------
*/

#categories #filter_cards #filter_menu .tag-group-ul {
	margin: 0 0 20px 0;
}

#categories #filter_cards #filter_menu h3,
.cate_more,.more_categories  .cate_more{
	background: url(/img/bg-left-menu.png) no-repeat right 0;
	min-height: 28px;
	font-size: 16px;
	display: block;
	font-weight: normal;
	padding: 6px 10px 0 25px;
	font-family: 'RoughTypewriterRegular';
	color: #fff;
	margin: 0;
}

div#filter_menu .tag-li {
	padding: 0 0 0 0px;
}
#body_zoeken #categories{
	display:block !important;
}

#samen-form #img-preview{
	float:none !important;
	text-align:center;
	width:auto !important;
}
#samen-form #img-preview img:nth-child(1){
	width: 139px !important;
	height:auto !important;
}
#samen-form #img-preview img:nth-child(2){
	height: 162px !important;
	width:auto !important;
}
#samen-form #img-preview span {
	display:block;
	text-align:center;
	padding-bottom:10px;
}
#samen-form #img-preview span a{
	background:url(/img/samen/ico-zoom.png) no-repeat 0 center;
	padding-left:17px;
	text-decoration:none !important;
	color:#F00;
}
#samen-form #img-preview span a:hover{
	text-decoration:underline !important;
}
#bg-lightbox{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#000;
	left:0;
	top:0;
	z-index:1000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter: alpha(opacity=10); opacity:0.1;
}

#lightbox{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:fixed;
	width:800px;
	height:378px;
	left:50%;
	top:50%;
	margin:-189px 0 0 -400px;
	background-color:#fff;
	z-index:1001;
	padding:19px 28px 0 28px;
	overflow:hidden;
}

#lightbox iframe{
	height:378px;
	width:403px;
	border:none;
	overflow:hidden;
}

#lightbox .close{
	cursor:pointer;
	text-indent:-9999em;
	height:10px;
	width:10px;
	background:url(/img/samen/close-popup.png) no-repeat 0 0;
	position:absolute;
	right:20px;
	top:24px;
}
#tbl-enveloppen td {
	text-align:center;
	padding: 10px;
	line-height:1;
}
#tbl-enveloppen td img{
	float: none !important;
	width:85px !important;
	height:auto !important;
}
#tbl-enveloppen th{
	padding:5px 6px;
	text-align:center;
}
.non-border {
	border:none;
	margin-top:0;
	margin-bottom:10px;
}
.non-border th,
.non-border td{
	border:none;
	text-align:center;
}
.non-border th {
	background: none;
	color:#6d6f72;
	font-weight:normal;
}
.non-border td{
	line-height:1;
	font-size:0;
	padding:0 !important;
}
.item-mem{
	border-bottom: 1px solid #a3cac1;
	margin-bottom:20px;
}
.item-mem .images{
	font-size:0;
	line-height:1;
}
#leftnav{
	clear:both;
}
#filter_menu .kleuren ul li input[type="checkbox"]{display:none;}
#filter_menu .kleuren ul li{float:left;width:18px;padding: 0 4px 4px 0 !important;}
#filter_menu .kleuren ul{overflow:hidden;padding-bottom:12px;padding-right:20px;}
#filter_menu .kleuren ul li em{display:none;}
#filter_menu .kleuren ul li label{display:block;height:18px;width:18px;font-size:0 !important;}
#filter_menu .kleuren ul li label .custom_checkbox{display:block !important;height:18px !important;width:18px !important;background:none !important;}
#filter_menu .kleuren ul li input[type="checkbox"] + label span.custom_checkbox{height:18px;vertical-align:top !important;}
#tagli-wit label{background:white !important;}
#tagli-geel label{background:#ffd60e !important;}
#tagli-rood label{background:#cf3431 !important;}
#tagli-oranje label{background:#f8702d !important;}
#tagli-roze label{background:#f22c87 !important;}
#tagli-paars label{background:#88337d !important;}
#tagli-blauw label{background:#1bc0ed !important;}
#tagli-groen label{background:#98c835 !important;}
#tagli-bruin label{background:#976345 !important;}
#tagli-grijs label{background:#777777 !important;}
#tagli-zwart label{background:#000 !important;}
#tagli-kleurrijk label{background:url(/img/colorful.png) no-repeat 0 0 !important;}
#filter_menu ul li.kleuren label:hover .custom_checkbox,
#filter_menu ul .kleuren ul li label:hover .custom_checkbox,
#filter_menu ul .kleuren ul li input[type="checkbox"]:checked + label .custom_checkbox{background:url(/img/vlad.png) no-repeat 0 -60px !important;height:18px !important;width:18px !important;}
.left-menu li{margin:0 0 5px;width:180px}
.left-menu li a{padding:6px 10px 0 43px;color:#6d6f72}
.left-menu li.active a{color:#75b0a2}
#body_trouwkaarten .cate_more,.show-tagged .left-menu{display:none}
.cate_more,.more_categories .cate_more{display:block;margin:0 0 20px;cursor:pointer}
.left-menu{display:block}

#body_account #pagebody p > a:nth-child(7),
#body_account #pagebody p > a:nth-child(10){
    display: none;
}


/* calculator*/
#calculator .ttl {
    margin: 0;
    padding: 16px 0 4px 0;
}

#calculator .amount .ttl {
    padding: 16px 0 10px 0;
}

#calculator .result-cal input {
    border: none;
    padding: 0;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


#calculator #sliderb,
#calculator #slider {
    background: #5e989a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
    height: 3px;
}

#calculator .ui-slider-horizontal .ui-slider-handle {
    display: block;
    height: 16px;
    position: absolute;
    z-index: 2;
    width: 16px;
    background: #6ac4c2 !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 1px #737373;
    box-shadow: 0 0 0 1px #737373;
    top: -0.4em;
}

#calculator table {
    width: 422px;
    border: 0;
}

#calculator table td {
    border: 0;
}


#calculator select {
    height: 31px !important;
    line-height: 31px;
    position: relative;
    width: 190px !important;
    z-index: 10;
    opacity: 1 !important;
    background: #e9ecf3;
    border: none;
    border-bottom: solid 2px #d7dae1;
    color: #000 !important;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
}

#calculator select:hover {
    border-bottom: solid 2px #5f969d;
    opacity: 1 !important;
}

#calculator select.ui-state-active {
    border-bottom: solid 2px #5f969d;
}

#calculator span.select {
    display: none;
}

#calculator #amount-card, #calculator #amount-envelop {
    border: none;
    box-shadow: none;
    background: none;
    width: 40px !important;
    text-align: left;
    color: #262626;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -14px;
    top: -4px !important;
}


.result-cal table {
    width: 379px !important;
}
#result {
    color: #000;
}

#result td {
	white-space: nowrap;
	padding: 0;
}
.inclusief {
    color: #616161;
    font-size: 12px;
    display: block;
    line-height: 1.3;
    margin-top: 0;
}
#calculator .result-cal input {
    border: none;
    padding: 0;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.result-cal {
    margin: 20px 20px 20px 10px;
    background: #e5eee7;
    width: 363px;
    padding: 12px 20px 10px;
}
#result-input {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    width: auto;
}
#calculator .alert {
	margin-left: 10px;
	font-style: italic;
}
.btn-calc {
	float: left;
	margin: 0px 0 30px 20px;
	width: 100%;
	position: relative;
}

#body_eigen_collectie .eigen-collectie-cards {
	width: 25%;
	min-width: 180px;
	display: inline-block;
}

#body_zoeken #pagebody a img {
	width: 151px;
	height: auto;
}
