@font-face {
    font-family: 'RoughTypewriterRegular';
    src: url('/css/fonts/rough_typewriter.eot');
    src: url('/css/fonts/rough_typewriter.eot') format('embedded-opentype'),
         url('/css/fonts/rough_typewriter.woff') format('woff'),
         url('/css/fonts/rough_typewriter.ttf') format('truetype'),
         url('/css/fonts/rough_typewriter.svg#RoughTypewriterRegular') format('svg');
}

@font-face {
    font-family: 'RoughTypewriterBoldItalic';
    src: url('/css/fonts/rough_typewriter_bold_itl.eot');
    src: url('/css/fonts/rough_typewriter_bold_itl.eot') format('embedded-opentype'),
         url('/css/fonts/rough_typewriter_bold_itl.woff') format('woff'),
         url('/css/fonts/rough_typewriter_bold_itl.ttf') format('truetype'),
         url('/css/fonts/rough_typewriter_bold_itl.svg#RoughTypewriterBoldItalic') format('svg');
}

@font-face {
    font-family: 'Rough_TypewriterItalic';
    src: url('/css/fonts/rough_typewriter_italic.eot');
    src: url('/css/fonts/rough_typewriter_italic.eot') format('embedded-opentype'),
         url('/css/fonts/rough_typewriter_italic.woff') format('woff'),
         url('/css/fonts/rough_typewriter_italic.ttf') format('truetype'),
         url('/css/fonts/rough_typewriter_italic.svg#Rough_TypewriterItalic') format('svg');
}

@font-face {
    font-family: 'RoughTypewriterBold';
    src: url('/css/fonts/rough_typewriter_x_bold.eot');
    src: url('/css/fonts/rough_typewriter_x_bold.eot') format('embedded-opentype'),
         url('/css/fonts/rough_typewriter_x_bold.woff') format('woff'),
         url('/css/fonts/rough_typewriter_x_bold.ttf') format('truetype'),
         url('/css/fonts/rough_typewriter_x_bold.svg#RoughTypewriterBold') format('svg');
}

@font-face {
    font-family: 'BrainFlowerRegular';
    src: url('/css/fonts/brain_flower_euro.eot');
    src: url('/css/fonts/brain_flower_euro.eot') format('embedded-opentype'),
         url('/css/fonts/brain_flower_euro.woff') format('woff'),
         url('/css/fonts/brain_flower_euro.ttf') format('truetype'),
         url('/css/fonts/brain_flower_euro.svg#BrainFlowerRegular') format('svg');
}

@font-face {
    font-family: 'ImpactLabelRegular';
    src: url('/css/fonts/impact_label.eot');
    src: url('/css/fonts/impact_label.eot') format('embedded-opentype'),
         url('/css/fonts/impact_label.woff') format('woff'),
         url('/css/fonts/impact_label.ttf') format('truetype'),
         url('/css/fonts/impact_label.svg#ImpactLabelRegular') format('svg');
}

@font-face {
    font-family: 'ImpactLabelReversedRegular';
    src: url('/css/fonts/impact_label_reversed.eot');
    src: url('/css/fonts/impact_label_reversed.eot') format('embedded-opentype'),
         url('/css/fonts/impact_label_reversed.woff') format('woff'),
         url('/css/fonts/impact_label_reversed.ttf') format('truetype'),
         url('/css/fonts/impact_label_reversed.svg#ImpactLabelReversedRegular') format('svg');
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.button {
	background-image: url(/img/bg-button.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	bottom: -6px !important;
	right: 0 !important;
	padding: 0 15px 0 0;
	line-height: 32px;
	position: relative;
	height: 32px;
	width: 140px;
	margin-left: 16px;
	text-align: center;
}

.button:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -42px;
}

.button:hover {
	background-position: right -84px;
	text-decoration: none;
}

.button:hover:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -126px;
}

.ui-widget {
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	background: none;
	width: 960px;
}

#headermenu {
	top: -3px;
	width: auto;
	margin: 0;
	padding: 0 10px 0 15px!important;
	height: 50px;
	background: url(/img/bg-headermenu.gif);
}

#pagecontent {
	background: #FFFFFF;
	margin-top: 0;
	padding: 20px;
	padding-bottom: 120px;
	min-height: 483px !important;
	border: none;
	width: 920px;
}

#body_edit #pagecontent {
	padding-bottom: 0 !important;
}

#editor_top_border {
	display: none;
	margin-top: -8px;
}

#editor_bottom_border {
	display: none;
}

.ui-dialog-titlebar-close {
	background-image: url(/common/gfx/delete.png) !important;
	background-repeat:  no-repeat;
	background-position: 0 0;
}

.ui-icon-closethick {
	background: transparent;
}

.ui-dialog-titlebar-close:hover .ui-icon-closethick {
	background: transparent;
	border: 0;
}

body#body_address #pagecontent {
	min-height: 970px !important;
}

table{border:none;}

table td{
	border:none;
	width:auto;
	padding: 0 5px 5px;
}

#header {
	background: url(/img/bg-header-editor.png);
		position: relative;
		z-index: 1000;
		height: 50px;
		padding: 0;
		margin-top: 0;
}

#home {
	background: url("/img/logo-editor.png") no-repeat 0 0;
	height: 36px;
	width: 427px;
	top: 10px;
	left: 20px;
}

#headernavigation {
	height: 64px;
	margin-top: 0;
	display: none;
}

#headermenu a {
	background: none;
	height: 50px !important;
	line-height: 48px;
	margin-top: 0 !important;
	color: #fff;
	width: auto;
	padding: 0 8px;
}

#headermenu span {
	position: inherit;
	top: inherit;
}

#basket_count {
	display: inline;
	padding-left: 7px;
}

#headerbasket {
	background: url("/img/ico-basket.png") no-repeat scroll right 17px !important;
}

.ui-accordion-header {
	background: none !important;
	font-size: 14px !important;
	padding: 0 !important;
	margin: 0 !important;
}

.ui-accordion-header a {
	font-family: Arial, Helvetica, sans-serif !important;
	background: #ffffff;
	color: #75b0a2 !important;
	padding: 0 10px !important;
	border-top: 1px solid #e8e8e8;
	font-weight: normal !important;
	font-size: 13px !important;
}

#accordion {
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ui-accordion-header a:hover {
	background: #ededed;
}

.ui-accordion-header.ui-state-active a {
	background: #75b0a2;
	color: #fff !important;
	border: none;
}

#body_edit .ui-accordion-header:first-child a {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: none;
}

.header-last a,
#body_edit #accordion h3:last-child a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.ui-state-active.header-last a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.ui-accordion-content {
	margin: 0 !important;
	font-size: 12px;
	background: none !important;
}

.leftdiv {
	width: 588px;
}

.rightdiv {
	width: 330px;
}

#step_back {
	color: #822626;
	font-weight:normal;
	margin: 8px 0 0 0;
}

#step_forward {
	font-size:12px;
	height: 35px;
	font-size: 14px;
	line-height: 37px;
	font-weight:normal;
	padding-left: 15px;
	width: 215px;
}

#step_forward:hover {
	background-image: url(/img/btn_next_step_o.png);
}

input#step_forward {
	width: 231px;
}

#nav_buttons {
	bottom: 10px;
}

#body_edit #nav_buttons {
	bottom: 34px;
}

#body_bestel_login .choice_center div.choice_block {
	padding: 10px 20px 0 10px;
	width: 205px;
}

#body_cadeau_category .catname {
	margin-top: -26px;
}

#body_check #nav_buttons {
	width: 917px;
}

#body_kaartsoort .choice_div a.button:hover {
    background-image: url("/img/btn_choice_cardtype_o.png");
}

#body_basket .delbtn {
	background: url(/img/ico_delete.gif) no-repeat 0 center;
	color: #F00;
	margin: 0;
	padding: 0 0 0 27px;
	text-align: left;
	width: auto;
}

#body_basket .delbtn:before {
	display: none;
}

#body_basket .delbtn:hover {
	text-decoration: underline;
}

#body_basket #rebate input.button {
	line-height: 20px;
    padding-bottom: 5px;
}

#body_basket div a[href="/edit_back"]:hover,
#body_basket #rebate input.button:hover {
	background-image: url("/img/btn_size_o.png");
}

#pagecontent ul {
	list-style-image: url("/img/ico-circle-editor.png");
}

.ui-widget-content {
	color: #6d6f72;
}

.ui-widget-content a {
	color: #F27478;
}

input#pay {
	font-size: 12px;
	font-family: Lucida Sans Unicode,Trebuchet MS,Arial,"Times New Roman",Georgia,Serif;
	margin-top: 7px;
}

#body_basket #rebate {
	display: none;
}

#body_size .info_div {
	background-position: 0 141px;
	height: 376px;
}

#body_size .info_div .img_div {
	height: 210px;
}

#nav_buttons {
	background: #ecf6f4;
	height: 75px;
	left: 0 !important;
	width: 920px !important;
	bottom: 0;
	padding: 15px 20px 0;
}

#body_edit #nav_buttons {
	background: #ecf6f4;
	height: 75px;
	position: relative;
	left: -20px !important;
	width: 920px !important;
	bottom: 0;
	padding: 15px 20px 0;
	margin-top: 30px;
}

#step_forward {
	color: #fff !important;
}

#page_edit_nav_new {
	margin-left: 135px;
}

#done,
#step_forward,
#order_card {
	background-image: url(/img/bg-button.png);
	background-repeat: no-repeat;
	background-position: right -252px;
	padding: 0 40px 0 5px;
	line-height: 30px;
	display: inline-block;
	height: 32px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	width: auto;
	position: relative;
	margin-top: 8px;
}

#body_edit #step_forward {
	margin-top: 14px;
}

#body_edit #order_card {
	margin-top: 15px;
}

input#step_forward {
	text-align: left;
	width: 180px;
	padding-left: 20px;
	background-position: 0 -588px;
}

#done:before,
#step_forward:before,
#order_card:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -294px;
}

#done:hover,
#step_forward:hover,
#order_card:hover {
	background: url(/img/bg-button.png) no-repeat right -336px;
	text-decoration: none;
}

input#step_forward:hover {
	background-position: 0 -630px;
}

#done:hover:before,
#step_forward:hover:before,
#order_card:hover:before {
	content: ' ';
	display: block;
	height: 32px;
	width: 16px;
	position: absolute;
	left: -16px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -378px;
}

#step_forward_alternate {
	background: url(/img/ico-arrow-btn.png) no-repeat right 0;
	padding: 0 32px 0 0;
	width: auto !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	margin-top: 16px;
	margin-right: 130px;
	color: #F27478;
}

#step_forward_alternate:hover {
	background-image: url(/img/ico-arrow-btn-o.png);
}

#step_forward_alternate:active {
	background-image: url(/img/ico-arrow03-a.png);
}

#skip_design {
	background: url(/img/ico-arrow01.png) no-repeat 0 2px;
	position: absolute;
	left: 0;
	top: -12px;
	color: #9c9b9b !important;
	padding-left: 20px;
	line-height: 14px;
	display: none;
}

#headernavigation_buttons #choose_card {
	display: none !important;
}

#switch_card {
	display: none;
}

#step_back {
	background: url(/img/ico-arrow02.png) no-repeat 0 0 !important;
	color: #f27478;
	padding-left: 32px;
	text-align: left !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	margin-top: 16px;
}

#step_back:hover {
	background-image: url(/img/ico-arrow02-o.png) !important;
}

#step_back:active {
	background-image: url(/img/ico-arrow02-a.png) !important;
}

#body_edit #designer_code,
#body_edit #category {
	margin-bottom: 5px;
}

#save_form p {
	padding: 3px 0;
	margin: 0;
}

#save_user_design, #save_design, #imageaddformclose, #pt-upload input[type="submit"], #choose_font, #add_photo, #add_text, #position_photo_full {
	font-size: 11px;
	font-family: Verdana;	
}

#nav_remark_div {
	bottom: 109px;
	color: #6d6f72;
	font-size: 14px;
	line-height: 21px;
	width: 920px;
	font-family: Arial, Helvetica, sans-serif;
}

#nav_remark_div b {
	display: block;
	font-weight: normal !important;
}

#pagecontent h1 {
	margin-left: 0 !important;
	font-size: 24px;
}

#body_size .info_div .img_div {
	background: #fafafa;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	vertical-align: middle;
	height: 168px;
}

#body_size .info_div {
	background: none;
	width: 170px;
	height: 261px;
}

#body_size .info_div h1 {
	color: #6d6f72;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: -32px 0 21px 0;
}

#body_size .info_div h2 {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #6d6f72;
	margin: 0;
}

#body_size .info_div .info_div_content {
	color: #6d6f72;
	font-size: 14px;
	line-height: 20px;
}

#body_size .info_div .info_div_content .bold {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #6d6f72 !important;
}

#body_size .choice_div {
	width: 170px;
	margin: 0 15px;
}

#body_size #sizes_div {
	padding-top: 39px;
}

#body_size .choice_center {
	width: 600px !important;
}

#body_bestel_login .choice_center div.choice_block {
	background: #fafafa;
	width: 177px;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 10px;
	min-height: inherit;
	padding: 10px 20px 20px;
}

#body_bestel_login .choice_center div.choice_block table td,
#body_bestel_login .choice_center div.choice_block table {
	border: none;
	margin: 0;
	padding: 0;
}

#body_bestel_login .choice_block ul, #body_bestel_login .choice_block form {
	padding-top: 12px;
}

#body_bestel_login .choice_block ul {
	padding-top: 20px;
}

#body_bestel_login .choice_center div.choice_block table td {
	padding: 0 0 2px 0;
}

#body_bestel_login .choice_block input[type="text"], #body_bestel_login .choice_block input[type="password"] {
	border: 1px solid #d3d3d3;
	border-top: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
	width: 162px;
	padding: 8px 5px;
}

#body_bestel_login b {
	font-weight: normal;
}

#body_bestel_login .choice_block ul {
	list-style: none !important;
}

#body_bestel_login .choice_block li {
	color: #702b2b;
	padding: 0 0 0 12px;
	background: url(/img/ico-square.gif) no-repeat 0 8px;
}

#body_bestel_login div.choice_block {
	height: 228px !important;
	position: relative;
}

#body_bestel_login div.choice_block .button {
	background: url(/img/bg-button.png) no-repeat 0 -504px;
	position: absolute;
	left: 20px;
	bottom: 17px !important;
	margin: 0;
	width: 172px;
}

#body_bestel_login div.choice_block .button:hover {
	background: url(/img/bg-button.png) no-repeat 0 -546px;
}

#body_bestel_login div.choice_block .button:before {
	display: none;
}

#body_bestel_login div.choice_block input.button {
	bottom: 21px;
	height: 32px;
	width: 180px;
}

#body_bestel_login #pagecontent h1 {
	padding-bottom: 27px;
}

#body_verzend .choice_div {
	width: 219px;
	margin: 0 10px;
}

#body_verzend .choice_div .button {
	float: none;
	display: block;
	width: 150px !important;
	margin: 0 auto;
	font-size: 15px !important;
	padding: 0 10px !important;
	line-height: 32px !important;
}

#body_verzend .info_div {
	background: none;
	float: none;
	height: 246px;
}

#body_verzend .choice_center {
	width: 717px !important;
}

#body_verzend .choice_div a {
	display: block;
	background: #fafafa;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 177px;
	padding: 20px;
}

#body_verzend .choice_div a:hover {
	text-decoration: none;
}

#body_verzend .choice_div .img_div span {
	position: inherit !important;
	display: block;
	width: auto !important;
	font-size: 18px;
	color: #702b2b;
	text-align: left;
	font-family: 'Bitter', serif;
	padding-top: 10px;
	padding-bottom: 14px;
}

#body_verzend .info_div_content {
	text-align: left;
	margin: 0;
	width: auto;
	color: #702b2b;
	line-height: 21px;
}

#body_verzend .info_div .info_div_content div {
	vertical-align: top;
}

#body_verzend .img_div {
	height: auto;
	display: block !important;
	margin-top: -57px;
}

#body_verzend .img_div img {
	margin: 0;
}

#body_verzend #pagecontent h1 {
	padding-bottom: 62px;
}

.address table,
.address table td {
	border: none;
	margin: 0;
	padding: 0;
}

.address table td {
	padding: 5px 0;
}

.address {
	background: none !important;
}

#body_address .address table,
#body_addresses .address table {
	width: 100%;
}

.address input[type="text"], .address select {
	padding: 8px 2%;
	width: 96%;
}

.address input[type="text"],
.address input[type="password"] {
	border: 1px solid #d3d3d3;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
}

.address select {
	width: 100%;
}

#body_address .leftdiv,
#body_addresses #leftdiv {
	position: relative;
	padding-top: 94px;
}

#body_enveloppen .leftdiv {
	padding-top: 94px;
}

#body_enveloppen .leftdiv h1,
#body_address .leftdiv h1,
#body_addresses #leftdiv h1 {
	position:absolute;
	left: 0;
	top: 50px;
	width: 920px;
	text-align: center;
}

#body_enveloppen .leftdiv h1 {
	top: 70px;
}

#body_addresses #leftdiv, #body_addresses #leftdivnav {
	width: 580px;
}

#body_enveloppen .rightdiv {
	padding-top: 113px;
	width: 319px;
}

#body_enveloppen #accordion {
	width: 100%;
}

#body_enveloppen .address {
	height: auto;
	width: auto;
}

#body_addresses #rightdiv {
	float: right;
	width: 319px;
	padding: 150px 0 0 0;
}

#body_addresses #order_present_preview {
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0;
	background: none;
	width: auto;
	text-align: center;
	height: auto;
	margin-top: -9px !important;
}

#body_addresses #order_present_preview br {
	display: none;
}

#body_addresses #order_address_preview {
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: none ;
	padding: 0 0 10px 0;
	width: auto;
}

#body_addresses #order_address_preview ul {
	margin: 0;
	width: auto;
}

#body_addresses #order_address_preview div {
	margin-left: 0 !important;
}

#addr_prev {
	margin-left: 10px;
}

#body_addresses #addr_total {
	width: 171px;
}

#body_addresses .address {
	height: auto;
}

#body_addresses #new {
	background:  url(/img/bg-button.png) no-repeat right 0;
	height: 32px;
	line-height: 32px;
	color: #fff;
	padding: 0 18px 0 4px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	margin-top: 10px;
	position: relative !important;
	width: auto;
}

#body_addresses #new:before {
	content: ' ';
	display: block !important;
	height: 32px;
	width: 45px;
	position: absolute;
	left: -45px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -420px;
}

#body_addresses #new:hover {
	background: url(/img/bg-button.png) no-repeat right -84px;
}

#body_addresses #new:hover:before {
	content: ' ';
	display: block !important;
	height: 32px;
	width: 45px;
	position: absolute;
	left: -45px;
	top: 0;
	background: url(/img/bg-button.png) no-repeat left -462px;
}

#body_addresses #new:active {
	-moz-box-shadow: inset 0 0 5px #c86518;
	-webkit-box-shadow: inset 0 0 5px #c86518;
	box-shadow: inset 0 0 5px #c86518;
}

#body_addresses .address table {
	margin-top: 33px;
}

#body_addresses .address table.form-addresses {
	margin-top: 0;
}

#body_addresses .address table .row-last td br {
	display: none;
}

#body_addresses .address table .row-last td span {
	float: left;
	margin-top: 10px;
	padding-top: 6px;
}

#body_address #abook,
#body_addresses #upload,
#body_addresses #abook {
	background: none;
	color: #75b0a2;
	padding: 0;
	margin-bottom: 9px;
	text-align: left;
}

#body_address #abook:hover,
#body_addresses #upload:hover,
#body_addresses #abook:hover {
	text-decoration: underline;
}

#body_cadeau .bold {
	font-family: 'Bitter', serif;
	font-size: 15px;
	font-weight: 300;
	color: #702b2b;
}

#body_cadeau #cadeau_div {
	padding: 10px 10px 0;
	margin-top: -94px;
	width: 154px;
}

#body_cadeau #cadeau_div a br {
	display: none;
}

#body_cadeau .choice_div a div {
	height: 267px !important;
}

body#body_kaarttype .info_div {
	background: #fafafa;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	height: 148px;
	width: 168px;
	padding-top: 20px;
	margin-bottom: 56px;
}

body#body_kaarttype .choice_div {
	width: 170px;
	margin: 0 15px 40px;
}

body#body_kaarttype .choice_center {
	width: 600px;
}

body#body_kaarttype .info_div_content {
	position: absolute;
	width: 170px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	color: #6d6f72 !important;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	left: 0;
	top: 178px;
}

body#body_kaarttype .info_div_content .bold {
	font-weight: normal;
	color: #6d6f72 !important;
}

#body_kaarttype .choice_div img {
	position: inherit;
	left: 0;
	bottom:0;
}

#body_kaarttype #pagecontent h1 {
	padding-bottom: 50px;
}

#body_address .address table .pad {
	padding: 0 10px;
	width: 83px;
}

.address table {
	position: inherit;
}

#enveloppenveel,
#enveloppenveel td {
	border: none;
}

#enveloppenveel td {
	width: 16%;
	padding-top: 0;
	padding-bottom: 0;
}

.enveloppen_beschrijving {
	padding-top: 10px;
	padding-bottom: 10px;
}

#body_enveloppen .ui-accordion-content {
	width: 310px !important;
	height: auto !important;
}

#body_enveloppen .ui-accordion-content table td {
	padding: 0;
}

#body_enveloppen .address table {
	width: 100%;
}

#send_date_picker {
	background-image: url(/img/gfx/date_bg.png);
}

#send_date_picker table,
#send_date_picker table td {
	border: none;
}

#send_date_picker table th {
	background: none;
	color: #000;
}

#send_date_picker td * {
	color: #000;
}

#send_date_picker .ui-state-active {
	background: #F27478;
	line-height: 27px;
	width: 27px;
	height: 27px;
	padding: 0;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.ui-datepicker .ui-datepicker-title {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

#send_date_picker .ui-icon {
	color: #fff;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	width: auto;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
	text-decoration: underline !important;
}

#send_date_picker .ui-datepicker-next .ui-icon {
	background: url(/img/ui-datepicker-next.png) no-repeat right center;
	padding-right: 10px;
}

#send_date_picker .ui-datepicker-prev .ui-icon {
	background: url(/img/ui-datepicker-prev.png) no-repeat left center;
	padding-left: 10px;
}

#send_date_picker .ui-datepicker-prev, #send_date_picker .ui-datepicker-next {
	top: 65px;
}

#send_date_picker .ui-datepicker-header {
	padding-top: 83px;
	height: 37px;
}

#body_check .ui-accordion-header.ui-state-active {
	padding: 0;
}

#body_check .ui-accordion-header.ui-state-active a {
	background: none;
	padding: 0 !important;
	color: #6D6F72 !important;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700 !important;
}

#body_check #accordion {
	border: none;
	width: auto !important;
}

#body_check #accordion h3 {
	margin-bottom: 13px !important;
}

#bezorgdatum {
	color: #F27478 !important;
	font-size: 20px !important;
	font-style: normal !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700 !important;
	display: block;
	padding-top: 15px;
}

#body_check #accordion div.ui-accordion-content {
	padding: 0;
	color: #6D6F72;
	font-size: 14px;
	width: auto;
	line-height: 23px;
}

#body_check .leftdiv {
	width: 490px;
	padding-top: 95px;
}

#body_check .rightdiv {
	width: 430px;
	padding-top: 127px;
}

#body_check .choice_center {
	position: relative;
}

#body_check h1 {
	position: absolute;
	left: 0;
	top: -49px;
	width: 920px;
	text-align: center;
}

#body_basket #basket {
	width: 100%;
	margin: 0 0 50px 0;
	border: none;
}

#body_basket #basket td {
	border: none;
}

#body_basket h1 {
	margin-bottom: 22px;
	padding-top: 46px;
}

#body_basket .line {
	border-top: 1px solid #6D6F72 !important;
}

#body_basket #basket td b {
	font-weight: normal;
}

#body_basket #basket td .price {
	float: none !important;
	display: inline;
}

#body_basket #basket .row-first td b {
	font-weight: bold !important;
	color: #6D6F72;
	font-size: 20px;
	font-family: 'Bitter', serif;
	font-weight: 700;
	display: block;
	padding-bottom: 9px;
}

.optiondisplay {
	display: none;
}

.reference_block .line,
.email_block .line {
	display: none;
}

.reference_block,
.email_block {
	clear: both;
	overflow: hidden;
	width: 620px !important;
}

.email_block {
	padding-bottom: 10px;
	padding-top: 5px;
}

.reference_block label,
.email_block label {
	float: left;
	width: 310px;
	text-align: right;
	font-size: 12px;
	padding-right: 10px;
	line-height: 16px;
}

.reference_block label {
	padding-top: 7px;
}

.reference_block br {
	display: none;
}

.reference_block input,
.email_block input {
	float: left;
	color: #6D6F72;
	width: 202px;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
}

.button-block a.button {
	background: url(/img/ico-arrow-btn.png) no-repeat right center;
	font-size: 14px;
	color: #F27478;
	height: 30px;
	line-height: 30px;
	padding: 0 32px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	float: right;
	margin-bottom: 10px;
	margin-right: 7px;
}

.button-block a.button:before {
	display: none;
}

.button-block a.button:hover {
	background: url(/img/ico-arrow-btn-o.png) no-repeat right center !important;
	text-decoration: underline;
}

.oneline {
	display: none;
}

.twoline {
	display: block;
	color: #fff;
}

#pay {
	background: url(/img/bg-button.png) no-repeat left -672px;
	padding: 0 46px 0 30px;
	width: 280px;
	float: right;
	line-height: 22px;
	height: 60px;
	text-align: left;
}

#pay:before {
	display: none;
}

#pay:hover {
	background-position: left -742px;
}

.button-block {
	width: 296px !important;
	float: right !important;
	margin-top: -55px;
}

.twoline strong {
	font-family: 'Bitter', serif;
	font-weight: 700;
	font-size: 20px;
	display: block;
}

.twoline span {
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}

#body_basket #pagecontent {
	background: #fff url(/img/bg-content.gif) repeat-x left bottom;
	padding-bottom: 100px;
}
#body_basket #nav_buttons{
	height:59px;
}
#basket_n .button{
	width:auto;
	bottom:0 !important;
}
#basket_n input[type="submit"].button{
	background:none !important;
	color:#f27478 !important;
	text-transform:capitalize;
	line-height:28px;
}
#body_cadeau_category .ontop {
	display: none;
}

#body_cadeau_category .catimage {
	margin: 0;
	position: inherit;
}

#body_cadeau_category #cadeau_choice_list {
	width: 134px;
	padding: 0 4px;
	margin-bottom: 13px;
}

#body_cadeau_category #cadeau_choice_list a {
	display: block;
	width: 132px;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 6px;
}

#body_cadeau_category #cadeau_choice_list a:hover {
	border-color: #ff7f1d;
	text-decoration: none;
}

#body_cadeau_category .prijs {
	background: none;
	color: #702b2b;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	position: inherit;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
}

#body_cadeau_category .catname {
	margin: 0;
	width: auto;
	color: #3c86ae;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	position: inherit;
	line-height: 18px;
}

#body_cadeau_category #pagecontent h1 {
	margin-bottom: 27px;
}

#body_cadeau_details #cadeau_description {
	width: 325px;
	float: right;
	margin: 0;
}

#body_cadeau_details .prijs {
	background: #fff;
	border: 1px solid #e8e8e8;
	margin-top: 5px;
	width: 88px;
	height: 39px;
	padding: 0;
	line-height: 37px;
	text-align: center;
	font-size: 20px;
	font-family: 'Bitter', serif;
	font-weight: 700;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#body_cadeau_details #cadeau_description h2 {
	display: none;
}

#body_cadeau_details #cadeau_description div {
	font-size: 14px;
}

#body_cadeau_details #cadeau_description div p span {
	font-size: 14px;
}

#body_cadeau_details #cadeau_description div p:first-child {
	font-size: 16px;
	font-family: 'Bitter', serif;
	font-weight: 700;
}

#body_cadeau_details #cadeau_description div p:first-child span {
	font-family: 'Bitter', serif !important;
	font-size: 16px;
}

#body_cadeau_details .choice_center h1 {
	margin-bottom: 35px !important;
}

.ui-dialog {
	padding: 0;
	background: #faf9fc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: none;
	-moz-box-shadow: 5px 5px 5px #d4d0d0;
	-webkit-box-shadow: 5px 5px 5px #d4d0d0;
	box-shadow: 5px 5px 5px #d4d0d0;
}

.ui-dialog-titlebar {
	background: #75b0a2;
	border: none;
}

#fontselect {
	padding: 0 0 0 20px;
}

#fontlist {
	padding-top: 15px !important;
	padding-right: 20px !important;
}

.ui-dialog-titlebar-close {
	background: url(/img/gfx/delete.png) no-repeat 0 0 !important;
	height: 23px !important;
	width: 23px !important;
	margin-top: -12px !important;
}

#body_keuze #pagecontent h1 {
	margin-bottom: 65px;
}

#body_keuze .choice_div a {
	display: block;
	height: 171px;
	width: 171px;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fafafa;
}

#body_keuze .choice_div .img_div {
	padding-top: 20px;
}

#body_keuze .choice_div a:hover {
	background: #f3f3f3;
}

#body_address #rightdiv {
	float: right;
	padding-bottom: 0;
	width: 319px;
	padding-left: 0;
}

#body_address .top,
#body_address #papier_preview,
#body_address #order_present_preview {
	background: #fff;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0;
	text-align: center;
	height: auto;
	width: auto;
}

#body_address .top {
	width: 587px;
}

#body_address #papier_preview {
	float: none !important;
	text-align: left;
}

#body_address #papier_content {
	background: none;
	border: none;
	margin-top: 10px;
	padding: 0 10px;
	width: auto;
}

#body_address #order_present_preview {
	margin-top: 146px;
}

#body_address #order_present_preview br {
	display: none;
}

#body_addresses #order_address_preview .title,
#body_addresses #order_present_preview .title,
#body_address .top .title,
#body_address #papier_preview .title,
#body_address #order_present_preview .title {
	text-align: left;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	border-bottom: 1px solid #e8e8e8;
	background: #fafafa;
	color: #787878;
	font-size: 16px;
	padding: 0 16px !important;
	height: 39px;
	line-height: 39px;
	font-family: 'RoughTypewriterRegular';
}

#body_address .address {
	height: auto !important;
}

#body_address .top {
	position: absolute;
	left: 20px;
	top: 700px;
	height: auto !important;
}

#abook:before {
	display: none;
}

#body_addresses .button_wide {
	text-align: right !important;
}

#body_addresses .button_wide:before {
	display: none;
}

#body_addresses .addr_list {
	padding: 10px 0 0 10px;
}

#body_addresses #addr_prev, #body_addresses #addr_next, #body_addresses #addr_total {
	color: #f27478;
}

#body_addresses #abook {
	float: right;
}

#enveloppen_preview{
	position:absolute;
	left:20px;
	top: 590px;
	width:588px;
	border:1px solid #e8e8e8;
	border-radius:10px;
	height:auto !important;
}

#enveloppen_preview .title{
	border-bottom:1px solid #e8e8e8;
	color:#787878;
	font-family:"RoughTypewriterRegular";
	font-size:16px;
	height:39px;
	line-height:39px;
	padding-left:30px;
}

#body_address #enveloppen_preview #enveloppen_thumbs{
	padding-top:10px;
}
#body_address #enveloppen_preview .enveloppen_beschrijving{
	padding: 0 10px 10px;
}

#body_address #enveloppen_preview #enveloppen_thumbs div{
	width:98px;
}

/*
-----------------------------------------------------------------
Clearfix
-----------------------------------------------------------------
*/
#body_addresses #order_address_preview div,
#wrapper,
.choice_center,
#body_size #sizes_div,
#nav_buttons {
	zoom: 1;
}

#body_addresses #order_address_preview div:after,
#wrapper:after,
.choice_center:after,
#body_size #sizes_div:after,
#nav_buttons:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}